html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #f8f8f8;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reticolo-mobile,
.mobile-circle,
.mobile-circle2,
.mobile-circle3,
.mobile-vision-carousel {
  display: none;
}

.blurred-rectangle {
  top: 0;
  position: fixed;
  right: 0;
  width: 30px;
  height: 350vh;
  height: 350dvh;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  color: #333;
}

.image-hero img {
  position: absolute;
  left: 5%;
  top: 10%;
  width: 15%;
  height: auto;
}
.hero {
  width: 100vw;
  background: linear-gradient(180deg, #ffffff 0%, #007bff 100%);
  color: #fff;
  padding: min(1em, 8%);
  text-align: left;
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: space-between;
}

.hero-text {
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vw;
}

.hero h1 {
  font-size: 4rem;
  font-size: clamp(1rem, calc(3vw + 1rem), 4rem);
  margin: 0;
  font-weight: 700;
}

.hero p {
  font-size: 1.2em;
  margin: 20px 0;
}
.hero button {
  background-color: #0056b3;
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
  max-width: 200px;
}

.vision,
.advantages {
  padding: min(1em, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: clamp(30vw, 60vw, 80vw);
  height: 100vh;
  height: 100dvh;
}

.advantages {
  background-color: rgba(255, 221, 176, 0.089);
}
.vision-text,
.advantages-text {
  text-align: start;
  padding: min(3em, 8%);
  align-self: flex-start;
  margin-top: 10%;
}
.vision-text h2,
.advantages-text h2 {
  color: #0056b3;
  font-size: clamp(1rem, calc(3vw + 1rem), 4rem);
  padding: 0;
  margin: 0;
}

.advantages-text h2 {
  align-self: flex-start;
  color: #333;
  margin: 0;
}
.vision-text p,
.advantages-text p {
  color: #555;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

.advantages-button {
  background-color: #555;
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  max-width: 200px;
}

.vision-image,
.advantages-image {
  padding: min(3em, 8%);
}
.vision-image img,
.advantages-image img {
  max-width: 100%;
  height: auto;
}

.vision-image-mobile {
  display: none;
}

.newsletter {
  background-color: #0046ea;
  color: #fff;
  padding: 100px 20px;
  text-align: center;
  margin-bottom: 40px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.newsletter-box {
  text-align: left;
  padding: min(3em, 8%);
}

.newsletter-box-button {
  align-self: center;
  justify-self: center;
}

.newsletter-box h2 {
  font-size: clamp(0.5rem, calc(3vw + 1rem), 2rem);
  margin: 0;
}

.newsletter-box p {
  font-size: 1.2em;
  margin: 0;
}
.newsletter input[type="email"] {
  padding: 15px;
  border: none;
  width: 300px;
  max-width: 90%;
  margin: 0;
  background-color: #67b1ffb6;
  color: #fff;
}

.newsletter input::placeholder {
  color: #fff;
}
.newsletter button {
  background-color: #ffffff;
  color: #007bff;
  padding: 15px 30px;
  border: none;
  font-size: clamp(0.5rem, calc(1vw + 1rem), 1rem);
  cursor: pointer;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.newsletter-button-box form {
  display: flex;
  padding-left: 2%;
}

.contact-form {
  padding: min(3em, 8%);
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form div {
  display: flex;
  gap: 100px;
}
.contact-form h2 {
  font-size: clamp(0.5rem, calc(3vw + 1rem), 2rem);
  color: #000;
  text-align: center;
}

.contact-form p {
  margin: 0;
  margin-bottom: 2%;
  font-size: clamp(0.5rem, calc(3vw + 1rem), 1.5rem);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  padding-right: 30px;
  margin: 10px 0;
  border-radius: 2px;
  border: 1px solid #ddd;
}

.contact-form input,
.contact-form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  color: #333;
  outline: none;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.contact-form button {
  background-color: #0046ea;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  margin-top: 5%;
}
.footer {
  height: 50vh;
  height: 50dvh;
  background-color: #f8f8f8;
  color: #000;
  text-align: center;
  border-radius: 0 0 20px 20px;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: min(3em, 8%);
}

.footer h2 {
  font-size: clamp(1rem, calc(3vw + 1rem), 3.5rem);
  text-align: left;
}

.footer-left {
  max-width: 50vw;
}

.footer-right {
  text-align: left;
}

.pitch {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.pitch-text {
  display: flex;
  flex-direction: column;
}
.pitch-text p {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  align-self: center;
}

.pitch-button i {
  padding-right: 5px;
}

.pitch-button {
  align-self: center;
  justify-self: center;
  background-color: #949227;
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
  max-width: 200px;
}

a {
  text-decoration: none;
}

.pitch-button:hover {
  background-color: #5f5e1a;
}
/* IPAD */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .newsletter {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .newsletter-box {
    text-align: center;
  }

  .footer {
    gap: 100px;
  }
}

/* MOBILE */

@media screen and (max-width: 768px) {
  html,
  body {
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
  }

  .blurred-rectangle {
    display: none;
  }

  .circle-img {
    display: none;
  }

  .mobile-circle {
    display: inline;
    position: absolute;
    top: 0;
    right: -20px;
    width: 50%;
  }
  .reticolo-mobile {
    display: inline;
  }

  .mobile-circle2 {
    display: inline;
    position: absolute;
    left: 0;
    width: 80%;
    z-index: -1;
  }

  .mobile-circle3 {
    display: inline;
    position: relative;
    margin-top: 20%;
    margin-right: -15rem;
    width: 50%;
  }

  .mobile-vision-carousel {
    display: inline;
  }

  .image-hero img {
    width: 25%;
    top: 2%;
  }

  .hero {
    justify-content: center;
    background: #f8f8f8;
    color: #333;
    padding-bottom: 0;
  }

  .hero-text {
    max-width: 100vw;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30%;
    z-index: 99;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
  }

  .hero p {
    font-size: 1.5rem;
  }
  .hero button {
    border-radius: 15px;
  }

  .vision,
  .advantages {
    padding-top: 0;
    flex-direction: column;
    height: auto;
    width: 100vw;
    max-width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    overflow-x: hidden;
  }

  .vision {
    margin-top: 15%;
  }

  .advantages {
    background-color: #f8f8f8;
  }

  .advantages-button {
    border-radius: 15px;
  }

  .advantages-text {
    margin-top: 0;
  }

  .vision h2,
  .advantages h2 {
    font-size: 3.5rem;
  }
  .vision-image {
    padding-left: 0;
    padding-right: 0;
  }
  .vision-image-desktop {
    display: none;
  }

  .vision-image img {
    max-width: 100vw;
  }
  .vision-image-mobile {
    display: inline;
    width: 100vw;
    height: auto;
  }

  .vision-text {
    padding-top: 0;
    margin-top: 20%;
    position: relative;
  }

  .newsletter {
    display: flex;
    flex-direction: column;
  }

  .newsletter h2 {
    margin-bottom: 5%;
  }

  .newsletter-button-box {
    width: 80vw;
  }

  .contact-form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .contact-form button {
    border-radius: 15px;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer-left {
    max-width: 100vw;
  }

  .contatti {
    display: none;
  }

  .footer-right {
    text-align: left;
    align-self: baseline;
  }
}
